{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% trans_default_domain "labels" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'title.edit_share'|trans }}</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}