{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Добавление портфеля</div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                            <a href="{{ path('portfolio_index') }}" class="btn btn-default">Отмена</a>
                        </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}