{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Добро пожаловать!</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}